<div id = "itemListWrapper" style =  "background: url('../Shopping-App/imgs/VIZShopper_0002_Page_2.png');">
	<div class = "itemWrapper">
		<!--ul class = "list-unstyled">-->
			<div class = "last-item" style = "height: 357px;margin-left: 95px; margin-top: 319px; width: 416px;">
				<div class= "item-details clearfix">
					<img src="{{ items.image }}" style="height: 266px; width: 416px; margin-left: 42px; margin-top: 74px;">
				<div class="clearfix" style = "margin-left: 16px;
    margin-top: 14px;
    text-align: center;
    font-size: 159%;">	{{ items.title }} 
					<p>{{ items.price }} </p></div>
				</div>
			</div>
	</div>
</div>
