<div id = "itemListWrapper" style =  "background: url('../Shopping-App/imgs/VIZShopper_0000_Home.png');">
<!--	<div class = "itemWrapper">
		<ul class = "list-unstyled">
			<li class = "item" ng-repeat="item in items | filter:searchStr">
				<div class= "item-details clearfix">
					<img src="{{ item.image }}" style="height: 158px; margin-left: -96px;width: 169px;">
				<div class="clearfix" style = "margin-left: -153px;
    margin-top: 14px;
    text-align: center;">	{{ item.title }} 
					<p>{{ item.price }} </p></div>
				</div>
			</li>
		</ul>
	</div> -->
</div>
